.footer {
  background: var(--color-black-06);
  color: var(--color-white);

  &__menu {
    --footerMenuColumns: 6;

    display: grid;
    grid-template-columns: repeat(var(--footerMenuColumns), 1fr);
    gap: 30px fluid(30, 10);
    padding-block: fluid(100, 50);
    border-bottom: var(--border);

    @include laptop {
      --footerMenuColumns: 3;
    }

    @include mobile {
      --footerMenuColumns: 2;
    }

    &-column {
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: fluid(24, 16);
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: fluid(14, 8);
      color: var(--color-gray-60);
    }
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    padding-top: fluid-to-laptop(24, 20);
    padding-bottom: fluid-to-laptop(50, 20);
    color: var(--color-gray-60);

    @include mobile {
      flex-direction: column;
      row-gap: 20px;
    }

    &-links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-link {
      color: var(--color-gray-60);
      padding-inline: 20px;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background-color: var(--color-gray-60);
        position: absolute;
        right: 0;
      }

      @include mobile {
        padding-inline: 16px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        &::after {
          content: none;
        }
      }

      &:not(:last-child) {
        align-items: center;

        &::after {
          content: "";
          height: 1em;
          margin-inline: fluid-to-laptop(20, 16);
          border-right: var(--border);
        }
      }
    }
  }
}
